.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  border: 3px solid #ccc;
  /* width: 50%; */
}
form .section {
  display: flex;
  flex-direction: column;
  /* width: 100%; */

  margin: 20px;
  padding: 20px;
  border: 3px solid #f08446;
}
.info,
.contacts,
.car-info {
  position: relative;
}
form .section .title {
  position: absolute;
  top: -17px;
  padding-left: 5px;
  padding-right: 5px;
  background-color: #696666;
  width: 120px;
}
.contacts .title,
.car-info .title {
  width: 85px;
}
form .section div {
  width: 30rem;
}
form label {
  width: 10rem;
  display: inline-block;
  margin-bottom: 10px;
}
.gen {
  border: 3px solid #ccc;
  position: relative;
  padding: 5px 5px 0px;
  margin-bottom: 10px;
}
.gen .gen-title {
  position: absolute;
  top: -17px;
  left: 2rem;
  padding-left: 5px;
  padding-right: 5px;
  background-color: #696666;
  width: 75px;
}
.gen label {
  width: 40px;
  margin-right: 20px;
}
.gen input {
  margin-right: 25px;
}
.car-info input {
  margin-right: 0;
}
.car-info input[type='range'] {
  width: 100%;
  accent-color: #f08446;
}
input {
  accent-color: #f08446;
}
#model-toyota,
#model-bmw {
  display: none;
}
.btn {
  width: 10rem;
  margin-left: 1.2rem;
  background-color: #f08446;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  border: 2px solid #696666;
}

.btn:hover {
  background-color: #696666;
  transition: background-color 0.3s ease;
  color: #f08446;
  border: 2px solid #f08446;
}
